﻿@using System.Linq;
@using Newtonsoft.Json.Linq;

@model PagedResult<JObject>

@{
    ViewData["Title"] = "Home Page";
    var displayFields = ViewData["DisplayFields"] as IEnumerable<string>;
    var allDIsplayFields = ViewData["AllDisplayFields"] as IEnumerable<string>;
}


<div class="container">
    <form asp-action="FullSearch" method="get">
        <h2>Display Fields</h2>
        @foreach (var field in allDIsplayFields)
        {
            <div class="row">
                <div class="col-12">
                    <input type="checkbox" id="@field" name="DisplayFields" value="@field" checked="@displayFields.Contains(field)" />
                    <label for="@field">@field</label>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <label for="terms">Search: </label>
                <input type="text" id="terms" name="terms" value="@Context.Request.Query["terms"]" />
            </div>
        </div>
        <button type="submit">Search</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                @foreach (var column in displayFields)
                {
                    <th scope="col">@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    @foreach (var column in displayFields)
                    {
                        <td>@item[column]</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if (displayFields.Any())
    {
        @await Html.PartialAsync("_Pager", Model)
    }
</div>