﻿@using Newtonsoft.Json.Linq;

@model PagedResult<JObject>

@{
    ViewData["Title"] = "Index";
}

<h3>
    <a asp-action="FullSearch">Full Search</a>
</h3>

<div class="container">
    <form asp-action="Index" method="get">

        <div class="row">
            <div class="col-12">
                <label for="terms">Search: </label>
                <input id="terms" name="terms" value="@Context.Request.Query["terms"]" />
            </div>
        </div>
        <button type="submit">Search</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">name.full</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr scope="row">
                    <td>
                        <a asp-action="Item" asp-route-npi="@item["NPI"]">@item["name.full"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_Pager", Model)
</div>