﻿@using Newtonsoft.Json.Linq;

@model JObject

@{
    ViewData["Title"] = "Item";
    var displayFields = ViewData["DisplayFields"] as IEnumerable<string>;
}

<table class="table">
    <thead>
        <tr>
            @foreach (var column in displayFields)
            {
                <th>@column</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var column in displayFields)
            {
                <td>@Model[column]</td>
            }
        </tr>
    </tbody>
</table>